/* ======================================
   VARIABLES CSS
   ====================================== */

:root {
  --primary: #e23670;
  --secondary: #955067;
  --mint: #C1E1C1;
  --lavender: #E6E6FA;
  --bg-light: #FFFDF5;
  --text-dark: #1b0e12;
}
