<div class="bottom-nav">
  <a href="index.html" class="bottom-nav-item" data-page="index">
    <span class="material-symbols-outlined">home</span>
    <span>Inicio</span>
  </a>
  <a href="catalogo.html" class="bottom-nav-item" data-page="catalogo">
    <span class="material-symbols-outlined">storefront</span>
    <span>Tienda</span>
  </a>
  <a href="favoritos.html" class="bottom-nav-item" data-page="deseos">
    <span class="material-symbols-outlined">favorite</span>
    <span>Deseos</span>
  </a>
  <a href="carrito.html" class="bottom-nav-item" data-page="carrito">
    <span class="material-symbols-outlined">shopping_bag</span>
    <span>Carrito</span>
  </a>
</div>